# Testbench outputs
**/tb/**/sim_build**
**/tb/**/waves/**

# Scratch folder
scratch/

# Python bytecode, IDE & macOS cruft
__pycache__/
.vscode/
.DS_Store
.DS_Store**

# Disallow all files without extensions
*
!*.*
!*/
**/simlog.node0

# Allow Makefiles and Verilog source code
!**Makefile**
!processor/verilog

# Build artifacts
**build/**
**/*.blif
**/*.json
**/*.asc
**/*.bin
**/*.hex
**/*.o
**/*.i
**/*.sr
**/*.map
