# Disallow all files without extensions
*
!*.*
!*/
**/simlog.node0

# Allow Makefiles and Verilog source code
!**Makefile**
!processor/verilog

# Python bytecode, IDE & macOS cruft
**/__pycache__/
**/*.pyc
.venv/
.vscode/
.DS_Store
.DS_Store**

# Scratch folder
scratch/
scratch/**
scratch/output.txt

# Testbench outputs
**/tb/**/sim_build**
**/tb/**/waves/**
**/*.fst
**/*.vcd
**/*.vvp

# Build artifacts
**build/**
**/*.blif
**/*.json
**/*.asc
**/*.bin
**/*.hex
**/*.o
**/*.i
**/*.sr
**/*.map
hardware/tb/mods/__pycache__/logging_mods.cpython-310.pyc
